@{
    ViewData["Title"] = "Admin Portal";
}

<section id="admin-portal">
    <div class="container">
        <h1> @ViewData["Title"]</h1>

        <a class="btn-theme-s btn-create" asp-controller="Admin" asp-action="Create"><i class="fa-brands fa-creative-commons"></i>Create New Course</a>
        <a class="btn-theme-s btn-update" asp-controller="Admin" asp-action="Update"><i class="fa-solid fa-arrows-rotate"></i>Update Course</a>
    </div>


</section>
