#courses {
    padding-top: 40px;


    .container {
        display: flex;
        flex-direction: column;

        .breadcrumbs {
            display: flex;
            align-items: center;
            margin-top: 20px;

            a {
                color: $gray-600;

                i {
                    margin-right: 5px;
                }

                p {
                    margin-bottom: 0;
                    margin: 0 10px;
                    display: inline;
                }
            }

            i {
                margin-right: 5px;
            }

            .current-page {
                margin-bottom: 0;
                margin: 0 10px;
                display: inline;
                color: $theme;
            }
        }

        .filters {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @include lg {
                flex-direction: row;
                justify-content: space-between;
            }

            .dropdown-links {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                @include lg {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                    gap: 1rem;
                }

                .dropdown-btn {
                    background-color: #fff;
                    color: $gray-600;
                    width: 200px;
                    height: 30px;
                    font-size: 12px;
                    border: none;
                    border: 1px solid $gray-600;
                    cursor: pointer;

                    .fa-angle-down {
                        padding-left: 85px;
                    }
                }

                .dropdown {
                    position: relative;
                    display: inline-block;
                }

                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: gray-200;
                    min-width: 160px;
                    @include gray-shadow;
                    z-index: 1;
                }

                .dropdown-content a {
                    color: $gray-600;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    font-size: 12px;
                }

                .dropdown-content a:hover {
                    background-color: gray-400;
                }

                .dropdown:hover .dropdown-content {
                    display: block;
                }

                .dropdown:hover .dropbtn {
                    background-color: $white;
                }

                .search {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    input {
                        border: 1px solid $gray-600;
                        font-size: 80%;
                        padding-left: 0.5rem;
                        width: 200px;
                        height: 30px;
                        border-radius: 0;
                    }

                    button {
                        position: absolute;
                        right: 0;
                        padding: 0.5rem;
                        border: none;
                        background: $transparent;
                        color: $black;
                        border-radius: 5px;
                        color: $gray-600;
                        cursor: pointer;
                    }
                }
            }
        }



        .courses {
            display: grid;
            gap: 2rem;
            margin-top: 1rem;

            @include md {
                grid-template-columns: repeat(2, 1fr);
            }

            @include lg {
                grid-template-columns: repeat(3, 1fr);
            }


            a {
                &:hover {
                    text-decoration: none;
                   /* border: 0.063rem solid $gray-600;*/
                    @include shadow-l;
                }

                .course-card {
                    position: relative;


                    .img-card {
                        width: 100%;
                    }

                    .bookmark {
                        position: absolute;
                        top: 1rem;
                        right: 1rem;
                        background: $white;
                        padding: 0.5rem;
                        border-radius: 50%;
                        cursor: pointer;
                        transition: 0.3s;

                        &:hover {
                            background: $theme;
                            color: $white;
                        }
                    }

                    .bestseller {
                        position: absolute;
                        top: 1rem;
                        left: 1rem;
                        background: $success-dark;
                        color: $white;
                        padding: 0.5rem;
                        border-radius: 5px;

                        p {
                            margin: 0;
                        }
                    }

                    .course-card-content {
                        /*text-s {
                            color: $gray-600;
                        }*/

                        .price {
                            display: flex;

                            .original-price {
                                color: $theme;
                                font-weight: 700;
                                /*margin-right: 1rem;*/
                            }

                            .discounted-price {
                                color: $danger-dark;
                                margin-right: 1rem;
                                font-weight: 700;
                            }

                            .discounted-price-with-line {
                                color: $gray-600;
                                text-decoration: line-through;
                            }
                        }
                    }

                    .line {
                        border-top: 1px solid $gray-400;
                        margin-left: 1rem;
                        margin-right: 1rem;
                    }

                    &_icons {
                        display: flex;
                        @include standard-text;
                        color: $gray-600;
                        font-size: 14px !important;
                        gap: 2rem;
                        padding-top: 1rem;
                        padding-bottom: 1rem;

                        div {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                        }

                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }





        nav {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 40px;

            .pagination {
                .page-item {
                    a {
                        color: $black;

                        &:active {
                            background-color: $info;
                        }

                        &:hover {
                            background-color: $theme !important;
                        }
                    }
                }
            }
        }

        .get-started {
            background-color: $gray-100;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 100px;



            .text-box {
                h5 {
                    @include h3;
                    font-weight: 700;
                    margin-bottom: 10px;
                    width: 350px;

                    span {
                        color: $theme;
                    }
                }

                a {
                    width: 162px;
                    margin-top: 30px;
                    text-align: center;
                }
            }

            .image-box {
                display: none;

                @include lg {
                    display: block;

                    img {
                        width: 373px;
                        height: 353px;
                    }
                }
            }
        }
    }
}
