.courses {
    background-color: $white;

    .home-course {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;

        .home-and-course {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 0.5rem;

            .fa-house {
                color: $gray-600;
            }

            .home {
                color: $gray-600;
                margin-bottom: 0;
            }

            &:hover {
                border-radius: 5px;

                .home,
                .fa-house {
                    color: $white !important;
                }

                text-decoration: none;
                cursor: pointer;
            }
        }

        .fa-angles-right {
            color: $gray-600;
        }

        .courses {
            color: $theme;
            margin-bottom: 0;
        }
    }

    .bord {

        @include lg {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @include lg {
            flex-direction: row;
            justify-content: space-between;
        }

        .select {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-size: 16px;
            position: relative;

            @include lg {
                min-width: 300px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }


            .selected {
                padding: 8px 16px;
                border: 1px solid $gray-400;
                border-radius: 8px;
                cursor: pointer;
                width: 100%;

                @include lg {
                    width: 300px;
                }
            }

            .select-options {
                display: none;
                position: absolute;
                top: 100%;
                /*left: 0;*/
                right: 0;
                background: $white;
                border: 1px solid $gray-400;
                z-index: 10;
                width: 100%;

                @include lg {
                    width: 300px;
                }


                .option {
                    padding: 8px 16px;
                    cursor: pointer;

                    &:hover {
                        background: $gray-100;
                    }
                }
            }

            .input-search-group {
                margin-right: 2rem;
                position: relative;

                #searchQuery {
                    padding: 8px 16px;
                    width: 100%;
                    margin-bottom: 1rem;

                    @include lg {
                        margin: 0;
                    }
                }

                .fa-magnifying-glass {
                    position: absolute;
                    right: 1rem;
                    top: 30%;
                }
            }
        }
    }

    .grid {
        display: grid;
        gap: 2rem;
        margin-top: 1rem;

        @include md {
            grid-template-columns: repeat(2, 1fr);
        }

        @include lg {
            grid-template-columns: repeat(3, 1fr);
        }

        .course-a {
            text-decoration: none;

            :hover {
                background-color: $white;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
            }

            .course-card {
                position: relative;
                //background-color: $gray-800;

                .img-card {
                    width: 100%;
                }

                .bookmark {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    background: $white;
                    padding: 0.5rem;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: 0.3s;


                    &:hover {
                        background: $theme;
                        color: $white;
                        border: 1px solid $theme;
                    }
                }

                .bestseller {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    background: $success-dark;
                    color: $white;
                    padding: 0.5rem;
                    border-radius: 5px;

                    p {
                        margin: 0;
                    }
                }

                .price {
                    display: flex;

                    .original-price {
                        color: $theme;
                        font-weight: 700;
                    }

                    .discounted-price {
                        color: $danger-dark;
                        font-weight: 700;
                        margin-right: 1rem;
                    }

                    .discounted-price-line-through {
                        color: $gray-600;
                        text-decoration: line-through;
                    }
                }

                .line {
                    border-top: 1px solid $gray-400;
                    margin-left: 1rem;
                    margin-right: 1rem;
                }

                &__footer {
                    display: flex;
                    gap: 2rem;
                    padding: 1rem;
                    color: $gray-600;

                    div {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                    }

                    p {
                        margin: 0;
                    }
                }

                .course-card_body {
                    padding-left: 1rem;
                }
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .pagination a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin: 0 5px;
        border-radius: 5px;
        text-decoration: none;
        padding: 0;

        @include lg {
            width: 40px;
            height: 40px;
        }
    }

    .pagination a i {
        margin: 0;
    }

    .banner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $theme-opacity;
        margin-top: 50px;
        padding: 50px;

        .banner-text {
            div {
                @include lg {
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    margin-right: 1rem;
                }

                .skills-text {
                    flex-direction: row;

                    .h2 {
                        margin-right: 0.7rem;
                    }
                }
            }

            .blue {
                color: $theme;
            }

            .btn-theme {
                margin-top: 1rem;
                width: fit-content;
            }
        }

        .banner-img {
            display: none;

            @include lg {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
