@model ContactViewModel

@{
    ViewData["Title"] = "Model.Title";
}



<section class="contact">
    <div class="container">
        <div class="home-contact">
            <a class="home-and-contact" asp-controller="Default" asp-action="Home">

                <i class="fa-solid fa-house"></i>
                <p class="home">Home</p>
            </a>

            <i class="fa-solid fa-angles-right"></i>
            <p class="contact">Contact</p>
        </div>

        <div class="contact-info">
            <h1>Contact Us</h1>

            <div class="email-us">
                <div class="email-icone">
                    <div class="round">
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                </div>

                <div class="email-text">
                    <h4>Email Us</h4>
                    <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
                    <a href="#">Leave a message <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
            </div>

            

            <div class="careers">
                <div class="careers-icone">
                    <div class="round">
                        <i class="fa-solid fa-user-plus"></i>
                    </div>
                </div>

                <div class="careers-text">
                    <h4>Careers</h4>
                    <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                    <a href="#">Send an application <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
            </div>

            <div class="get-in-contact">

                <h2>Get In Contact With Us</h2>
                @{
                    var statusCode = TempData["StatusCode"];
                    var statusMessage = TempData["Status"];
                }

                @if (statusMessage?.ToString() == "Success")
                {
                    <span class="alert alert-success">
                        Contact added successfully!
                    </span>
                }
                else if (statusMessage?.ToString() == "Unauthorized")
                {
                    <span class="alert alert-danger">
                        (Status Code: @statusCode). Please contact the administrator.
                    </span>
                }
                else if (statusMessage?.ToString() == "Error")
                {
                    <span class="alert alert-danger">
                        Error: (Status Code: @statusCode). Try again later.
                    </span>
                }
                else if (statusMessage?.ToString() == "ConnectionFailed")
                {
                    <span class="alert alert-danger">
                        Serverproblem (Status Code: @statusCode). Please try again later.
                    </span>
                }
                else if (statusMessage?.ToString() == "InvalidInput")
                {
                    <span class="alert alert-danger">
                        Invalid input. Please check the form and try again.
                    </span>
                }

                <div class="contact-form">
                    <form method="post" asp-controller="Contact" asp-action="Index" novalidate>
                        <div class="form-group">

                            <div id="contact-fullname" class="input-group">
                                <label asp-for="Form.FullName">Full Name</label>
                                <span asp-validation-for="Form.FullName"> </span>
                                <input asp-for="Form.FullName" />
                            </div>

                            <div id="contact-email" class="input-group">
                                <label asp-for="Form.Email"></label>
                                <span asp-validation-for="Form.Email"> </span>
                                <input asp-for="Form.Email" />
                            </div>

                            <div class="lable">
                                <label for="service">Service (optional)</label>
                                <i class="fa-solid fa-angle-down"></i>
                            </div>

                            <select class="form-control" id="service" name="Form.SelectedService">

                                <option value="default">Choose the service you are interested in</option>
                                <option value="frontend-development">Frontend Development</option>
                                <option value="app-development">App Development</option>
                                <option value="design">Design</option>
                                <option value="phyton">Phyton Development</option>
                                <option value="game-development">Game Development</option>
                                <option value="other">Other</option>
                            </select>

                           

                            <div id="contact-message" class="input-group">
                                <label asp-for="Form.Message">Message</label>
                                <span asp-validation-for="Form.Message"></span>
                                <textarea asp-for="Form.Message" class="form-control" rows="5" placeholder="Enter your message"></textarea>
                            </div>



                            <button type="submit" class="btn-theme">Send Contact Request</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d260535.41276248198!2d17.652423731277125!3d59.325725903858036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f763119640bcb%3A0xa80d27d3679d7766!2sStockholm!5e0!3m2!1sen!2sse!4v1710699415511!5m2!1sen!2sse"
                width="100%"
                height="870"
                style="border:0;"
                allowFullScreen=""
                loading="lazy"
                referrerPolicy="no-referrer-when-downgrade"
                title="Google Maps">
        </iframe>
    </div>
</section>



