.dark-mode {
    background-color: #151822 !important;
    color: $white;


    header, .features, .download, .want, .contact, .manage, .integrate, footer, #courses, #overview {
        background-color: #151822 !important;
    }

    h1, h2, h3, h4, h5, h6, h7, h8 {
        color: $white !important;
    }


    .btn-gray {
        background-color: #565973 !important;
        color: $gray-400;

        i {
            color: $gray-400;
        }
    }

    input, select, textarea {
        background-color: #1a1d26;
        border: 0.063rem solid #43464d;
        color: $white;
    }



    header {
        background-color: #151822 !important;
    }

    .features {
        background-color: #151822 !important;

        .container {
            .tools {
                .box {
                    border: 0.0002rem solid $gray-800;

                    &:hover {
                        background-color: #ffffff !important;
                        color: #33354D !important;

                        h5 {
                            color: $gray-900 !important;
                        }

                        p {
                            color: $gray-400 !important;
                        }

                        img {
                            background-color: $white !important;
                        }
                    }
                }


                img {
                    background-color: #1a1d26 !important;
                }
            }
        }
    }



    .switch {
        .light {
            color: $gray-100 !important;
        }
    }

    .manage {
        i {
            color: $theme !important;
        }

        .fa-arrow-right {
            color: $white !important;
        }
    }



    .download {
        .content-info {
            .icon {
                a {
                    img {
                        filter: invert(1);
                    }
                }
            }
        }

        .stars {
            i {
                color: $warning !important;
            }
        }
    }


    .want {


        .content-signin {
            .column {
                .input-group {
                    label {
                        color: $gray-400;
                        font-weight: 400;
                    }
                }
            }

            .terms {
                a {
                    color: #6366F1 !important;
                }
            }
        }
    }

    footer {
        .btn-social {
            background-color: #151822 !important;
            color: $gray-100;
        }
    }

    #courses {
        .container {

            a {
                &:hover {
                    border: 1px solid #e2e5f1;
                    /*@include shadow-l;*/
                    box-shadow: 0 0 20px #e2e5f1 !important;
                }

                .course-card-content {
                    .text-s {
                        color: $gray-600;
                    }
                }
            }

            .course-card-content {
                .text-s {
                    color: $gray-600;
                }
            }

            nav {
                .pagination {
                    color: $gray-600;

                    .page-link {
                        background-color: #151822 !important;
                        border: none;
                        color: $gray-600;




                        span {
                            color: $gray-600;
                        }
                    }
                }
            }

            .get-started {
                background-color: #151822 !important;
            }
        }
    }

    .courses {
        .breadcrumbs {
            .home-and-contact {
                color: #B4B7C9 !important;
            }
        }
    }

    #admin-portal {
        background-color: #151822 !important;

        .container {
            background-color: #151822 !important;
        }
    }

    .contact {
        .container {
            .info {
                .email-us {
                    .round {
                        background-color: $gray-900 !important;

                        i {
                            color: $theme !important;
                        }
                    }

                    .email-content {
                        a {
                            color: $theme !important;
                        }
                    }
                }

                .careers {
                    .round {
                        background-color: $gray-900 !important;

                        i {
                            color: $theme !important;
                        }
                    }

                    .text {
                        a {
                            color: $theme !important;
                        }
                    }
                }
            }

            .get-contact {
                background-color: $gray-900 !important;

                form {
                    label {
                        color: $white !important;
                    }
                }
            }
        }
    }


    #security {
        .security {
            .security-info {

                .alert-danger {
                    background-color: $danger-dark;
                }

                .alert-success {
                    background-color: $success-dark;
                }
            }
        }
    }

    #signin {
        form {
            .alert-danger {
                background-color: $danger-dark !important;
            }

            p {
                a {
                    color: #6366F1 !important;
                }
            }
        }
    }



    #signup {
        form {

            .alert-danger {
                background-color: $danger-dark !important;
            }

            p {
                a {
                    color: $theme !important;
                }
            }

            #form-terms {
                .checkbox-group {
                    a {
                        color: $theme !important;
                    }
                }
            }
        }
    }

    #account-details {
        aside {
            nav {
                a {
                    text-align: left;
                    color: $gray-400 !important;

                    i {
                        color: $gray-400 !important;
                    }
                }
            }

            @include lg {
                border-right: 0.063rem solid $gray-800;
            }
        }

        .basicInfoForm {
            .alert-danger {
                background-color: $danger-dark !important;
            }

            .alert-success {
                background-color: $success-dark !important;
            }

            form {
                h5 {
                    color: $theme !important;
                }

                .form-buttons {
                    .btn-gray {
                        background-color: #565973 !important;
                    }
                }
            }
        }

        .addressInfoForm {
            form {
                h5 {
                    color: $theme !important;
                }

                #btn-gray {
                    background-color: #565973 !important;
                }
            }
        }
    }

    header {
        &.gray {
            background-color: $gray-900 !important;
        }


        #btn-switch {
            label {
                color: $gray-500;
            }
        }

        .toggleMenu {
            background-color: $gray-900 !important;
        }

        #mobileMenu {
            background-color: $gray-900 !important;
            color: $white;
        }
    }
}
